body{
	color: #fff;
	background-color: #ffc107;
}
.special{
	height:5em;
}
/*clases reutilizables*/
.bkd{
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}
.taxi{
	background-image: url(../images/taxi.jpg);

}
.registro{
  background-color: #ffc107;
  margin-top: 11em;
  margin-bottom: 19em;
  padding: 1em 0 2em 2em;
  outline: 1px solid green;
}

.logo-white{
  width: 50%;
  padding-left: 2em;
  outline: 1px solid red;
}
.y{
	width:50%;
	margin-left: 2em;
	text-align: right;
	outline: 1px solid blue;
}
.container-fluid{
padding:0;
}

.lines::after{
    content:"";
    border-bottom: 1px solid white;
    padding: 0 5.5em;
    margin-left: 3em;
}
 .lines::before{
    content:"";
    border-bottom: 1px solid white;
    padding: 0 5.5em;
    margin-right: 3em;
    margin-left: 1.5em;
}
.cell{
	background-color: #ffc107;
	height: 70vh;
}
.phone{
	width:50%;
	height: 50vh;
/*	padding: 5%;*/
	background-image:url(../images/iPhone6Plus.png); 
	background-repeat: no-repeat;
	background-size: 40%;
	outline: 1px solid green;

}
.border{
	border: 1px solid #fff;
	padding: 2%;
}
.text-phone{
	color: #fff;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 14%;
	padding-right: 14%;
	text-align: justify;
	outline: 1px solid red;
}
.section-driver{
	background-image: url(../images/conduce.jpg);
}
.text-conduce{
	float: right;
}
.text-tarifas{
	padding: 10%;
	opacity: 0.6;
	outline: 1px solid red;
}
.section-map{

}
section{
	height: 100vh;
	background-position: bottom;
}
footer{
	background-color: #292828;
	padding: 3%;
	/*height: 80vh;*/
	color:#fff;
	line-height: 3em;
}
ul{
	list-style: none;
}
.item{
	color: #fff;
}
.logo-footer{
  width: 8em;
}
.footer1 {
  float: left;
  list-style: none;
  text-align: left;
}
.footer1 li a{
  text-decoration: none;
  line-height: 3em;
  color: white;
}
.footer1 li a:hover{
  line-height: 3em;
  color: #F7B617;
  text-decoration: underline;
}
.icon-footer{
  color: #FFFF;
  padding-top: 20em;
}
.logo-app{
  width: 10em;
  padding-top: 13em;
  padding-bottom: 2em;
}
.logo-app2{
  width: 10em;
}